.name{
    color: #333;
    font-size: 14px;
    margin-top: 4px;
    width:100%; 
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
}
.price{
    margin: -7px auto 0;
    width: 80%;
}
.price .buy{
    float: right;
    padding: 3px 5px;
    border-radius: .3rem;
    color: coral;
    font-size: .3rem;
    border: 1px solid coral;
    margin-top: .3rem;
}
.am-pull-to-refresh-indicator{
    font-size: .3rem;
}